<h1>
  <%= @user.name + '\'s' %> Profile 
  <% if @user.uuid == current_user.uuid %>
    | <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
</h1>

<div class="row">
  <div class="avatar avatar-lg left">
    <% if @user.avatar_url() %>
      <%= image_tag @user.avatar_url(:medium) %>
    <% end %>
  </div>
  <div>
    <p class="left">
      <% if @user == current_user %>
      Email: <%= @user.email %><br>
      Name: <%= @user.name %><br>
      Phone number: <%= number_to_phone(@user.phone_number, area_code: true) %><br>
      <% end %>
      About me: <%= @user.description %>
    </p>
  </div>
</div><br>

<% if current_user == @user %>
<div class="row">
  <section class="col">
    <h3>Responses</h3>
    <ul class="no-list-style indent">
      <% @messages.each do |message| %>
        <li name="<%= message.id %>">
          <%= markdown(message.body) %>
        </li>
      <% end %>
    </ul>
  </section>

  <% if @user.author %>
    <section class="col">
      <h3>Recent Posts</h3>
      <ul class="no-list-style indent">
        <% @recent_posts.each do |post| %>
          <li>
            <%= link_to post.heading, post %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section class="col">
    <h3>Recent Comments</h3>
    <ul class="no-list-style indent">
      <% @recent_comments.each do |comment| %>
        <li>
          <%= comment.body %> <%= link_to "(See post)", comment.post %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
<% end %>
