<h1>New Post</h1>
<%= form_for @post do |f| %>
  <%= f.label :heading %><br>
  <%= f.text_field :heading %><br>
  
  <%= f.label :body %><br>
  <%= f.text_area :body %><br>
  
  <%= f.submit 'Post!' %>
<% end %>

<script>
  var simplemde = new SimpleMDE({ element: $("#new_post")[0] });
</script>
