$background-color: #fff;
$primary-color: #f60;
$secondary-color: #f60;
$light-color: #eee;
$grey: #aaa;
$dark-color: #222;
$darker-color: #111;

* {
  visibility: visible;
  margin: 0;
  padding: 0;
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $dark-color;
  background: $background-color;
  font-family: 'Ariel';
}

ul, ol { 
  list-style-type: disc;
  margin-left: 1em;
}

.no-list-style {
  list-style: none;
  margin-left: 0;
}

nav ul, nav ol {
  padding: 0;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a h2 {
  color: $dark-color;
  text-decoration: none;
}

a h2:hover {
  text-decoration: none;
}

section {
  margin-top: 1em;
}

article p {
  text-indent: 3em;
  margin-bottom: 1em;
}

li {
  text-align: -webkit-match-parent;
}

article:not(:first-child) {
  margin: 3em 0;
}

article .date {
  color: $grey;
  font-size: 1.1em;
  font-weight: bold;
  text-indent: 0;
  letter-spacing: -1px;
  margin: 0;
}

.timeago {
  color: $grey;
  font-size: 0.8em;
}

article h1 {
  margin: -0.1em 0 0.1em 0;
  font-size: 2.4em;
}

blockquote {
  padding-left: 1em;
  margin-bottom: 1em;
  border-left: .3em solid $secondary-color;
  font-style: italic;
}

blockquote p {
  text-indent: 0;
}

textarea {
  width: 100%;
  height: 5em;
  padding: 0.5em;
  border-radius: 4px;
}

input[type='submit'], input[type='button'] {
  padding: 0.5em;
  background: $primary-color;
  color: $light-color;
  border-radius: 4px;
  border: 0;
  font-weight: bold;
  //margin: 1em 0 0 0;
  
  .btn-lg {
    font-size: 2em;
  }
}

ul.alt-bg {
  li:nth-child(odd) {
    background: $light-color;
  }
  
  li:nth-child(even) {
    
  }
}

img.btn-nav {
  max-height: 3em;
}

p.indent {
  text-indent: 3em;
}

p.no-indent {
  text-indent: 0em;
}

#logo-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em 0;
  text-align: left;
}

#giant-brand {
  float: left;
  font-size: 3em;
  max-height: 2em;
  padding: 1em 0 1em 0;
  line-height: 3em;
  margin: 0;
  text-align: left;
  color: $dark-color;
}

#menu-toggle {
  float: right;
  display: none;
}

#header-main {
  background: $light-color;
  margin-bottom: 1em;
  
  ul {
    list-style: none;
  }
}

#nav-main {
  background: $dark-color;
  color: $light-color;
  z-index: 3;
}

#nav-main a {
  display: block;
  color: $light-color;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
}

#nav-main > ul {
  max-width: 1024px;
  margin: 0 auto;
}

#nav-main > ul > li {
  float: left;
}

#nav-main > ul > li:first-child {
  margin-left: -1em;
  
  a {
    padding: 1em;
  }
}

#nav-main > ul > li:hover {
  > a {
    background: $darker-color;
  }
  
  > a:hover {
    color: $secondary-color;
  }
}

#nav-main li ul {
  display: none;
  position: absolute;
  background: $light-color;
  width: inherit;
  min-width: 95%;
  margin-left: 0;
}

#nav-main li:hover ul {
  display: block;
  background: $dark-color;
}

#nav-main li ul li:hover a {
  background: $darker-color;
  color: $secondary-color;
}

#wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}

#section-main {
  flex: 1;
}

#aside-main {
  min-width: 240px;
  flex: 0;
  margin-left: 1em;
  background: $light-color;
  padding: 1em;
}

#footer-main {
  width: 100%;
  background: $dark-color;
  padding: 1em 0;
  margin-top: 2em;
  
  > div {
    display: border-box;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
  }
  
  img {
    max-height: 16em;
    max-width: 16em;
  }
  
  section {
    margin-left: 2em;
    flex: 1;
    
    li {
      margin: 0.5em;
    
      a {
        color: $light-color;
        text-decoration: none;
      }
      
      a:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }
}

ul.indent, ol.indent {
  margin-left: 1em;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  
  -webkit-transition: max-height 0.8s;
     -moz-transition: max-height 0.8s;
          transition: max-height 0.8s;
}

.author-byline {
  box-sizing: border-box;
  background: url(image_path('5x5-grey-diag.png'));
  margin-bottom: 1em;
}

.author-byline span {
  text-transform: uppercase;
  background: $background-color;
  padding: 3px 20px 3px 0;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.new_comment {
  textarea {
    min-width: 20em;
  }
}

.comment-body {
  flex: 1;
  word-wrap: break-word;
  max-width: 80em;
}

.comment-main {
  
}

.posts > li:not(:first-child) {
  margin-top: 4em;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.grey {
  color: $grey;
}

.flex {
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex-flow: row;
}

.row > div:not(:first-child), .row > section:not(:first-child) {
  margin-left: 1em;
}

.col {
  display: flex;
  flex-flow: column;
}

.left {
  float: left;
}

.right {
  float: right;
}

.boxsizing-border {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

div.vcenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

h1.vcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

p.vcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 4px;
  background: $light-color;
  
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}

.avatar-lg {
  width: 200px;
  min-width: 200px;
  height: 200px;
}

.about-author {
  max-width: 480px;
  float: right;
  background: $light-color;
  padding: 1em;
  
  .avatar {
    float: left;
    margin-right: 1em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  h3 {
    margin-bottom: 1em;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
