<header id="header-main">
  <div id="logo-container" class="clearfix">
    <%= link_to root_path, class: 'clearfix' do %>
      <!--<h1 id="giant-brand" class="">TheForge</h1>-->
      <%= image_tag 'logo.png', id: 'giant-brand' %>
    <% end %>
    <div id="menu-toggle">
      <%= image_tag 'menu-black.png', class: 'btn-nav' %>
    </div>
  </div>
  <nav id="nav-main">
    <ul class="clearfix">
      <li class="has-drop-nav">
        <%= link_to 'Posts', posts_path %>
      </li>
      
      <% if current_user.author %>
        <li class="has-drop-nav">
          <%= link_to 'New Post', new_post_path %>
        </li>
      <% end %>
      
      <li class="has-drop-nav">
        <% if signed_in? %>
          <%= link_to 'My Profile', current_user %>
          <ul class="drop-nav">
            <li class="last"><%= link_to 'Sign Out', signout_path %></li>
          </ul>
        <% else %>
          <%= link_to 'Sign In', signin_path %>
        <% end %>
      </li>
    </ul>
  </nav>

  <!--<form role="search" id="searchArea" class="search-area" method="get" action="http://www.harvard.edu/searches/">
    <label for="siteSearch">
      <span class="is-visually-hidden">
        Search:
      </span>
    </label>

    <input type="search" name="searchtext" id="searchSite" class="input-search" aria-label="search" placeholder="What can we help you find?">
    <button type="button" class="btn--mobile-site-search">
      <span class="is-visually-hidden">
        Open Search
      </span>
    </button>
  </form>-->
</header>
