<!DOCTYPE html>
<html>
<head>
  <title>TheForge</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
  <%= render 'layouts/header' %>
  
  <div id="wrapper">
    <section id="section-main">
      <%= yield %>
    </section>
    
    <%= yield :aside %>
  </div>
  
  <%= render 'layouts/footer' %>
</body>
</html>
